.Range .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #e3e3e3 !important;
    color: #c60021;
  }
  .Range .DayPicker-Day {
    border-radius: 0 !important;
  }
  .Range .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
  }
  .Range .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
  }

  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: #c60021 !important;
  }

  .DayPicker-wrapper{
    padding: 0 !important;
    margin-bottom: -10px !important;
  }